.html {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  margin: 3em 2em;
}
.dotted-list-item {
  padding-left: 25px;
  /* position: relative; */
  padding-bottom: 36px;
  padding-top: 0 !important;
  line-height: 1.5;
}
.dotted-list-item:not(:last-child) {
  border-left: gray solid 2px;
}
.list-item {
  position: relative;
  top: -7px;
  display: flex;
}
.dotted-list-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: gray solid 2px;
  border-radius: 100%;
  background-color: white;
  left: -5px;
}
